    <table class="table table-bordered">
        <thead>
          <tr>
        {{> admin/coach_heading}}
          </tr>
        </thead>
        <tbody>
            {{#each coaches}}
          <tr>  
            <td>{{this.fullname}}</td>
            <td>{{this.team.role}}</td>
            <td>{{this.contact.email}}</td>
            <td>{{this.contact.alt_email}}</td>
            <td>{{this.contact.phone1}}</td>
            <td>{{this.contact.phone2}}</td>
            <td>N/A</td>
            <td>
              <a href="/admin/records/coach?id={{this._id}}">
              Edit
              </a>
            </td>         
          </tr>
          {{/each}}
        </tbody>
      </table> 