    <table class="table table-bordered">
        <thead>
          <tr>
        {{> gm_spreadsheet/coach_headers}}
          </tr>
        </thead>
        <tbody>
            {{#each coaches}}
          <tr>  
            <td>{{this.firstname}}</td>
            <td>{{this.lastname}}</td>
            <td>{{this.team.role}}</td>
            <td>{{this.contact.email}}</td>
            <td>{{this.contact.phone1}}</td>
            <td>{{this.apparel.hat}}</td>
            <td>{{this.apparel.shirt}}</td>
            <td>{{this.apparel.jacket}}</td>
            <td>{{this.apparel.polo}}</td>
            <td>N/A</td>
            <td>N/A</td>          
          </tr>
          {{/each}}
        </tbody>
      </table> 