<table class="table table-bordered">
    <thead>
      <tr>
    {{> admin/player_heading}}
      </tr>
    </thead>
    <tbody>
        {{#each roster}}
      <tr>  
        <td>{{this.fullname}}</td>
        <td>{{this.team.jersey_number}}</td>
        <td>{{this.team.pos_abrv}}</td>
        <td>{{this.contact.email}}</td>
        <td>{{this.contact.phone1}}</td>
        <td>{{this.public_data.age}}</td>
        <td>{{this.public_data.height}}</td>
        <td>{{this.public_data.weight}}</td>
        <td>{{this.background.hometown}}</td>
        <td>{{this.team.shooting_hand}}</td>
        <td>No</td>
        <td>No</td>
        <td> 
            <a target="_blank" href="/admin/records/player?id={{this._id}}">Edit</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table> 
