<tr data-person="{{this.fullname}}" data-team="{{this.hockey_info.team}}" data-email="{{this.contact.email}}">
    <td>{{this.fullname}}</td>
    <td>
        <a target="_blank" href="/admin/api/player?id={{this._id}}&registration=true">View</a>
    </td>
    <td>{{this.hockey_info.team}}</td>
    <td>{{this.hockey_info.position}}</td>
    <td>
        <a data-toggle="modal" class="btn btn-add2" data-type="{{this.__t}}" data-person="{{this.fullname}}" data-url="{{this._id}}" href="#player-modal"><span class="glyphicon glyphicon-plus"></span></a>
    </td>    
    <td>
        <button class="btn-sm btn-danger btn btn-delete2" data-url='{{this._id}}'>
        <span class="glyphicon glyphicon-scissors"></span>
        </button>
    </td>    
</tr>