<table class="table table-bordered table-condensed">
    <thead>
      <tr>
    {{> gm/player_headers}}
      </tr>
    </thead>
    <tbody>
        {{#each roster}}
      <tr>  
        <td>{{this.fullname}}</td>
        <td>{{this.team.pos_abrv}}</td>
        <td>{{this.team.jersey_number}}</td>
        <td>
          <a href="mailto:{{this.contact.email}}" class="player-email"> {{this.contact.email}}</a>
        </td>
        <td>{{this.contact.phone1}}</td>
        <td>{{this.public_data.age}}</td>
        <td>{{this.public_data.height}}</td>
        <td>{{this.team.shooting_hand}}</td>
        <td>{{this.apparel.hat}}</td>
        <td>{{this.apparel.jersey}}</td>
        <td>{{this.apparel.jacket}}</td>
        <td>{{this.apparel.polo}}</td>
        <td>{{this.apparel.shorts}}</td>        
        <td class="td-checkbox" data-field="headshot" data-id="{{this._id}}">
          {{#if this.headshot}}
          <span class="glyphicon glyphicon-check"></span>
          <input type="checkbox" class="roster-checkbox" checked>
          {{else}}
          <span class="glyphicon glyphicon-remove"></span>
          <input type="checkbox" class="roster-checkbox">
          {{/if}}          
        </td>
        <td class="td-checkbox" data-field="paid" data-id="{{this._id}}">
          {{#if this.paid}}
          <span class="glyphicon glyphicon-check"></span>
          <input type="checkbox" class="roster-checkbox"  checked>
          {{else}}
          <span class="glyphicon glyphicon-remove"></span>
          <input type="checkbox" class="roster-checkbox">
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table> 
