<div class="container">
<form action="/api/player">
<h2>Player A.P.I.</h2>
	<div class="container-fluid">
		<div class="form-group">
		   <label  for="lastname">First name</label>
		   	<input type="text" class="fullwidth" name="firstname">
		</div>
		<div class="form-group">
		   <label for="lastname">Last name</label>
		  	<input type="text" class="fullwidth" name="lastname">
		</div>
		<input type="submit" value="Get API" class="btn-success api-search">			
	</div>
</form>
<hr>
<form class="form-horizontal" action="/api/team" >
	<h2>Team A.P.I.</h2>
	<div class="container-fluid">
		<div class="form-group">
		   <label for="name">Team name</label>
		   <div>
		   		<select name="name">
		   			{{#each teams as |team|}}
		   			{{#if @first}}
		   			<option value="{{team}}" required>{{team}}</option>
		   			{{else}}
		   			<option value="{{team}}">{{team}}</option>
		   			{{/if}}
		   			{{/each}}
		   		</select>
		   </div>
		</div>
		<input type="submit" value="Get API" class="btn-success api-search">			
	</div>
</form>
</div>

