{{#each fields}}
<div class="form-group ">
{{#if this.textarea}}
	<div>
		<label for='{{this.name}}'><strong>{{this.label}}</strong></label>
		<textarea  class='form-control' rows='7' name='{{this.name}}' required={{this.required}}></textarea>
	</div>
{{else}}
	<label><strong>{{this.label}}</strong></label>
	<div>
		{{#if this.radio}}
			{{> reg/radio}}
		{{else if this.dropdown}}
			{{> reg/dropdown}}
		{{else if this.checkbox}}
			{{> reg/checkbox}}
		{{else if this.date}}
			{{> reg/date}}
		{{else}}
			<input type={{this.type}}  class="{{this.class}}" maxlength="{{this.maxlength}}"name="{{this.name}}" required={{this.required}}>
		{{/if}}
	</div>
	{{/if}}
</div>
{{/each}}

