
	<h3>{{title}}</h3>

<form  method="post" class="main-records" action="/admin/records/{{type}}?id={{id}}&_method=PUT" disabled="true">
	<div class="container-fluid">
	{{#each fields}}
	<div class="form-group">
	<label for="{{this.name}}">{{this.label}}</label>
		{{#if this.checkbox}}
			{{> records/checkbox}}
		{{else if this.list}}
			{{> records/list}}
		{{else}}
		<div>
			<input type="{{this.type}}" value="{{this.value}}" name={{this.name}}>
		</div>
		{{/if}}	
	</div>
	{{/each}}
	<input type="submit" class="update-main-records" value="Update Record">
	</div>
</form>
{{> panels}}


