<div class="">
  <h3 style="text-align:center">{{team.division}} : {{team.name}}</h3>
  <h4 style="text-align:center">Players</h4>
    <table class="table table-bordered">
        <thead>
          <tr>
        {{> gm_spreadsheet/table_headers}}
          </tr>
        </thead>
        <tbody>
            {{#each players}}
          <tr>  
            <td>{{this.registration.public_data.firstname}}</td>
            <td>{{this.registration.public_data.lastname}}</td>
            <td>{{this.team.jersey_number}}</td>
            <td>{{this.team.position}}</td>
            <td>{{this.registration.public_data.email}}</td>
            <td>555-555-5555</td>
            <td>{{this.registration.public_data.date_of_birth}}</td>
            <td>{{this.registration.public_data.height}}</td>
            <td>{{this.bio.hometown}}</td>
            <td>{{this.hockey_info.shooting_hand}}</td>
            <td>{{this.apparel.hat}}</td>
            <td>{{this.apparel.jersey}}</td>
            <td>{{this.apparel.jacket}}</td>
            <td>{{this.apparel.shorts}}</td>
            <td>{{this.apparel.polo}}</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          </tr>
          {{/each}}
        </tbody>
      </table> 
      <h4 style="text-align:center">Coaches</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
          {{> gm_spreadsheet/coach_headers}}
          </tr>
        </thead>
        <tbody>
          {{#each coach}}
          <tr>
          <tr>  
            <td>{{this.registration.contact.firstname}}</td>
            <td>{{this.registration.contact.lastname}}</td>
            <td>{{this.team.role}}</td>
            <td>{{this.registration.contact.email}}</td>
            <td>{{this.registration.contact.phone}}</td>
            <td>{{this.registration.apparel.hat}}</td>
            <td>{{this.registration.apparel.shirt}}</td>
            <td>{{this.registration.apparel.jacket}}</td>
            <td>{{this.registration.apparel.polo}}</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          </tr>            
          </tr>
          {{/each}}
        </tbody>
      </table>
</div>
