<div class="container">
    
        <strong>Name:</strong>
    <p>    {{public_data.firstname}} {{public_data.lastname}}
    </p>
      <p>
       <strong>Gender:</strong> 
       {{public_data.gender}}
    </p>  
    <p>
       <strong>Weight:</strong> 
       {{public_data.weight}}lbs
    </p> 
    <p>
       <strong>Height:</strong> 
       {{public_data.height}}lbs
    </p>
    <p>
       <strong>Birthday:</strong> 
       {{public_data.date_of_birth}}
    </p>
    <p>
       <strong>Email:</strong> 
       {{public_data.email}}
    </p>
    
    
</div>