<div class="container">
    <p>
        <strong>Name:</strong>
        {{public_data.firstname}} {{public_data.lastname}}
    </p>
      <p>
       <strong>Gender:</strong> 
       {{public_data.gender}}
    </p>  
    <p>
       <strong>Weight:</strong> 
       {{public_data.weight}}lbs
    </p> 
    <p>
       <strong>Height:</strong> 
       {{public_data.height}}
    </p>
    <p>
       <strong>Birthday:</strong> 
       {{public_data.date_of_birth}}
    </p>
    <p>
       <strong>Email:</strong> 
       {{public_data.email}}
    </p>
    <p>
       <strong>Primary Phone Number:</strong> 
       {{contact.phone1}}
    </p>
    <p>
       <strong>Secondary Phone Number:</strong> 
       {{contact.phone2}}
    </p>  
    <p>
       <strong>Address:</strong> <br>
       <small>{{contact.street}}<br> {{contact.city}}, {{contact.state}}<br> {{contact.zipcode}}</small>
    </p>
    <p>
        <strong>Parent/Guardian Name:</strong>
        {{contact.guardian_name}} 
    </p>
    <p>
        <strong>Parent/Guardian Phone:</strong>
        {{contact.guardian_number}}
    </p>    
    <p>
        <strong>Passport:</strong>
        {{contact.passport}} 
    </p>
    <p>
        <strong>Passport Expiration:</strong>
        {{contact.passport_expiration}} 
    </p>    
    
 
    
</div>