<div class="container">
    <ul class="list-group">
        {{#if applicants}}
        <h3>Assign these coaches to a team</h3>
        {{#each applicants}}
        <li class="list-group-item">
            <a href="#{{this._id}}" role="button" data-toggle="collapse">
                {{this.lastname}}, {{this.firstname}}
            </a>
            <div class="collapse" id="{{this._id}}">
                <form disabled>
                    <select name="team">
                        <option disabled selected selected>Select A Team</option>
                        {{> scorecard/_teamDropdown2}}
                    </select>
                    <select name="position">
                        <option disabled selected selected>Select A Position</option>
                        <option value="Right Wing">Right Wing</option>
                        <option value="Left Wing">Left Wing</option>
                        <option value="Center">Center</option>
                        <option value="Right Defense">Right Defense</option>
                        <option value="Left Defense">Left Defense</option>
                        <option value="Goalie">Goalie</option>
                    </select>
                    <select name="jersey_number">
                        <option disabled selected>Select A Jersey Number</option>
                        {{#each jersey_number_choices}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <input type="submit" class="demo"  value="Add to team">
                </form>    
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <div class="jumbotron">
        <h3>Nothing to see here</h3>
        <a href="/">Back</a>
    </div>
    {{/if}}
</div>
