{{> modal/teampicker_coach}}

<div class="container">
    <div class="page-header">
        {{#if player}}
        <h4>The following Coached have not been assigned to a team.</h4>
        <h6>If you wish to review any of their applications,
        <a href="/admin/applications/coach"> CLICK HERE</a> to export an excel spreadsheet.</h6>
        {{else}}
        <h4>There are not any pending coach registrations at this time.</h4>
        {{/if}}
    </div>
    <div class="row">
    {{#each coach}}
    <div class="col-md-4 panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">{{this.fullname}}</div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Position Applying For:</strong>{{this.background.preferred_coaching_position}}
                </li>
                <li class="list-group-item">
                    <strong>Team Applying For: </strong>
                    {{this.background.team_applying_for}}
                </li>
            </ul>
            <div>
                <button class="btn-sm btn-success btn" data-toggle="modal" href="#coach-modal" data-url="{{this._id}}" data-person="{{this.fullname}}">Place on team</button>
                <button class="btn-sm btn-danger btn" data-url='{{this._id}}'>Delete</button>
            </div>
            <span class="clear-fix"></span>              
  
        </div>
    </div>
    {{/each}}
    </div>
</div>
