<div class="container">
    
    {{#if applicants}}
       <ul class="list-group">
        {{#each applicants}}
        <li class="list-group-item">
            <a href="#{{this._id}}" role="button" data-toggle="collapse">
                {{this.lastname}}, {{this.firstname}}
            </a>
            <div class="collapse" id="{{this._id}}">
                <form action="/admin/assign/coach?id={{this._id}}">
                    <select name="team">
                        <option disabled selected>Select A Team</option>
                        {{> scorecard/_teamDropdown2}}
                    </select>
                    <select name="role">
                        <option disabled selected>Select A Position</option>
                        <option value="Head Coach">Head Coach</option>
                        <option value="Assistant Head Coach">Assistant Head Coach</option>
                        <option value="Assistant Coach for Defense">Assistant Coach for Defense</option>
                        <option value="Assistant Coach for Forwards">Assistant Coach for Forwards</option>
                        <option value="Other">Other</option>
                    </select>
                    <input type="submit" class="addToTeam"  value="Add to team">
                </form>    
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <h3>There are no coaches that haven't been placed on a team...</h3>
    {{/if}}
</div>
