{{> modal/teampicker_player}}

<div class="container">
    <div class="page-header">
        {{#if player}}
        <h4>The following Players have not been assigned to a team.</h4>
        <h6>If you wish to review any of their applications, click here to export an excel spreadsheet.</h6>
        {{else}}
        <h4>There are not any pending player registrations at this time.</h4>
        {{/if}}
    </div>
    <div class="row">
    {{#each player}}
    <div class="col-md-3">
        <h3>
        <a data-toggle="modal"  data-type="{{this.__t}}" data-person={{this.fullname}} data-url="{{this._id}}" href="#player-modal">
          {{this.fullname}}
        </a>
       </h3>
    </div>
    {{/each}}
    </div>
</div>
