{{> modal/teampicker_player}}

<div class="container">
    <div class="page-header" style="color:white">
        {{#if player}}
        <h4>The following Players have not been assigned to a team.</h4>
        <h6>If you wish to review any of their applications,
        <a href="/admin/applications/player"> CLICK HERE</a> to export an excel spreadsheet.</h6>
        {{else}}
        <h4>There are not any pending player registrations at this time.</h4>
        {{/if}}
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Application</td>
                <td>Team trying out for</td>
                <td>Position</td>
                <td>Add to team</td>
                <td>Cut</td>
            </tr>
        </thead>
        <tbody>
            {{#each player}}
            <tr>
                <td>{{this.fullname}}</td>
                <td>
                    <a target="_blank" href="/admin/applications/player/view?id={{this._id}}">View</a>
                </td>
                <td>{{this.hockey_info.team}}</td>
                <td>{{this.hockey_info.position}}</td>
                <td>
                    <a data-toggle="modal" class="btn btn-success" data-type="{{this.__t}}" data-person="{{this.fullname}}" data-url="{{this._id}}" href="#player-modal"><span class="glyphicon glyphicon-plus"></span></a>
                </td>    
                <td>
                    <button class="btn-sm btn-danger btn" data-url='{{this._id}}'>Delete</button>
                </td>    
            </tr>
            {{/each}}
        <tbody>
    </table>
</div>
