<div class="row">
    {{#each apparel}}
    <div class="form-group col-md-2 col-md-offset-1  col-xs-6">
        <label for="apparel[{{this.name}}]">{{this.name}} Size</label><br>
        {{#each sizes}}
        <input type="radio" name="apparel[{{../name}}]" value="{{size}}" >{{size}}<br>
        {{/each}}
    </div>
    {{/each}}
</div>    
