<select name="{{this.name}}" class={{this.class}} required={{this.required}}>
	<option selected="true" disabled></option>
	{{#each this.dropdown}}
	<option value="{{this}}">{{this}}</option>
	{{/each}}
</select>
