{{#each this.radio}}
    <label for="{{../name}}-{{this}}" class="radio-inline">
        <input type="radio" name="{{../name}}" value="{{this}}" id="{{../name}}-{{this}}" >{{this}}
    </label>
{{/each}}
