<h1>A.S.H.I. Admins</h1>
<label for=".staff-checkbox">Show all?</label>
<input type="checkbox" class="staff-checkbox">
<table class="table table-bordered table-condensed" data-staff="admin">
  	<thead>
  		<tr >
  			<td>Name</td>
  			<td>Phone</td>
  			<td>Email</td>
  			<td>Username</td>
  			<td>Update</td>
  		</tr>
  	</thead>
    <tbody>
  	{{#each user}}
  	<tr class="row-{{this.status}}">
    	<td>{{this.fullname}}</td>
    	<td>{{this.contact.phone1}}<br>
    	   {{this.contact.phone2}}</td>
    	<td>{{this.contact.email}}</br>
    	   {{this.contact.alt_email}}</td>
    	<td>{{this.username}}</td>
  	<td><button type="button" class="permission-btn" data-status="{{this.status}}" data-user="{{this._id}}">Revoke</button></td>
  	</tr>
  {{/each}}
  </tbody>
</table>