<h1>A.S.H.I. Admins</h1>
<label for=".staff-checkbox">Show all?</label>
<input type="checkbox" class="staff-checkbox">

{{> permissions/emailForm}}
<hr>
<table class="table table-bordered table-condensed" data-staff="admin">
  	<thead>
  		<tr >
  			<td>Name</td>
  			<td>Phone</td>
  			<td>Email</td>
  			<td>Username</td>
  			<td>Update</td>
  		</tr>
  	</thead>
    <tbody>
  	{{#each GM as |user| }}
    	{{#isEqual GM.status "Active"}}
      <tr class="bg-success">
      {{else}}
      <tr class="bg-warning text-muted">
      {{/isEqual}}

    	<td>{{this.fullname}}</td>
    	<td>{{this.contact.phone1}}<br>
    	   {{this.contact.phone2}}</td>
    	<td>{{this.contact.email}}</br>
    	   {{this.contact.alt_email}}</td>
    	<td>{{this.username}}</td>

  	<td><button type="button" class="permission-btn" data-status="{{../status}}" data-user="{{../_id}}">Revoke</button></td>
  	</tr>
  {{/each}}
  </tbody>
</table>