<h1>A.S.H.I. Coaches</h1>
<label for=".staff-checkbox">Show all?</label>
<input type="checkbox" class="staff-checkbox">
<table class="table table-bordered table-condensed" data-staff="coach">
  	<thead>
  		<tr>
  			<td>Name</td>
  			<td>Phone</td>
  			<td>Email</td>
        <td>Team</td>
        <td>Position</td>
        <td>Permissions</td>
  			<td>Record</td>
  		</tr>
  	</thead>
  	{{#each user}}
  	<tr class="row-{{this.status}} table-row">
  	<td>{{this.fullname}}</td>
  	<td>{{this.contact.phone1}}</td>
  	<td>{{this.contact.email}}</td>
    <td>{{this.team.name}}</td>
    <td>{{this.team.role}}</td>
    <td> <button type="button" class="permission-btn" data-status="{{this.status}}" data-user="{{this._id}}">Revoke</button></td>
    <td><a href="/admin/records/coach?id={{this._id}}" target="_blank">View</a></td>
  	</tr>
  {{/each}}
</table>