{{> modal/teampicker_manager}}

<h1>A.S.H.I. Managers</h1>
<label for=".staff-checkbox">Show all?</label>
<input type="checkbox" class="staff-checkbox">
{{> permissions/emailForm}}
<table class="table table-bordered table-condensed" data-staff="manager">
  	<thead>
  		<tr>
  			<td>Name</td>
  			<td>Division</td>
        <td>Phone</td>
  			<td>Email</td>
  			<td>Username</td>
        <td>Permissions</td>
  			<td>Record</td>
  		</tr>
  	</thead>
  	{{#each user as |GM|}}
      {{#isEqual GM.status "Active"}}
      <tr class="row-active">
      {{else}}
      <tr class="bg-warning text-muted row-{{GM.status}}">
      {{/isEqual}} 
  	<td>{{GM.fullname}}</td>
    <td>{{GM.division}}</td>
  	<td>{{GM.contact.phone1}}</td>
  	<td>{{GM.contact.email}}</td>
  	<td>{{GM.username}}</td>
    {{#isEqual GM.status "pending"}}
      <td><button class="btn-primary add-to-staff" data-user="{{GM._id}}" >Add to staff</button></td>
      <td><button class="btn-danger delete-record">Delete</button></td>
    {{else}}
    <td>
      <button type="button" class="btn-success permission-btn" data-status="{{GM.status}}" data-user="{{GM._id}}">
      {{#isEqual GM.status "Active"}}  
      Revoke Credentials
      {{else}}
      Grant Credentials
      {{/isEqual}}
      </button>
    </td>
    <td>
      <a href="/admin/records/manager?id={{../_id}}" target="_blank">View</a>
    </td>
    {{/isEqual}}
  </tr>
  {{/each}}
</table>