<div class="container">
	<form id="player-records-edit" action="/admin/records/player?id={{id}}" method="post">
	<div class="row well">
		<fieldset class="input-group">
		{{#each fields.part1}}
		<div class="col-xs-2">
		<label for={{this.name}} class="control-form">{{this.label}}</label>
		<input type={{this.type}} class="form-control" value="{{this.value}}" name={{this.name}}>
		</div>
		{{/each}}
		</fieldset>
	</div>

	<div class="row well">
		<fieldset>
		{{#each fields.part2}}
		<div class="form-group col-xs-2">
		<label for={{this.name}} class="control-form">{{this.label}}</label>
		<input type="text" class="form-control" value="{{this.value}}" name={{this.name}}>
		</div>
		{{/each}}
		</fieldset>
	</div>

	<div class="row well">
		<fieldset>
		{{#each fields.part3}}
		<div class="form-group col-xs-2">
		<label for={{this.name}} class="control-form">{{this.label}}</label>
		<input type="text" class="form-control" value="{{this.value}}" name={{this.name}}>
		</div>
		{{/each}}
		</fieldset>
	</div>

	<div class="well">
		{{#each fields.part4}}
		<label for={{this.name}}>{{this.label}}</label>
		<textarea class="form-control" name={{this.name}}>{{this.value}}</textarea>
		{{/each}}
	</div>
	<input type="submit" value="Update Record">
	</form>
</div>	