<div>
    {{#notEqual userType "manager"}}
		{{#each this.checkbox as |val|}}
			{{#notEqual val ../value}}
        		<label for="{{../name}}-{{val}}" class="checkbox">
            		<input type="checkbox" name="division" value="{{val}}" id="{{../name}}-{{val}}" >{{val}}
        		</label>
        	{{else}}
        	<label for="{{../name}}-{{val}}" class="checkbox">
            	<input type="checkbox" name="division" value="{{val}}" id="{{../name}}-{{val}}" checked="true">{{val}}
        	</label>
        	{{/notEqual}}
        {{/each}}
     {{/notEqual}}   	
</div>