
	<select name="{{this.name}}">
		<option value="{{this.value}}" selected >{{this.value}}</option>
		{{#each this.list as |val|}}
			{{#notEqual val ../value}}
			<option value="{{val}}">{{val}}</option>
			{{/notEqual}}
		{{/each}}
	</select>
